<!DOCTYPE html>
<html>
<head>
  <title>Instagram-like Feed</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: rgb(230,64,218);
      background: linear-gradient(90deg, rgba(230,64,218,1) 0%, rgba(64,75,230,1) 40%, rgba(0,212,255,1) 60%, rgba(0,255,42,1) 100%);
    }

    .feed {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding-top: 20px;
    }

    .post {
      width: 400px; /* Fixed post width */
      background-color: black;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding: 10px;
      color: #bbb
    }

    .post .profile-info {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
    }

    .post .profile-info img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .post img {
      width: 100%; /* Adjust the width as needed */
      height: auto;
      object-fit: cover;
      margin-bottom: 10px;
      border: 1px sole #eee;
      border-radius: 5px;
    }

    .post .caption {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .post h2 {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="feed">
    <% rows.forEach(function(post) { %>
      <div class="post">
        <div class="profile-info">
          <img src="<%= post.profile_picture %>" alt="Profile Picture">
          <p><strong><%= post.username %></strong></p>
        </div>

        <% if (post.photo === 1) { %>
          <div class="post-image">
            <img src="<%= post.photo_url %>" alt="Post Image">
          </div>
        <% } %>

        <p><strong><%= post.username %></strong> <%= post.caption %></p>
        <h2>Post ID: <%= post.postID %></h2>
        <p>API URL: <%= post.url %></p>
        <p>HTML URL: <%= post.html_url %></p>
      </div>
    <% }); %>
  </div>
</body>
</html>
